.question-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 0px;
  box-sizing: border-box;
  }
  
  .question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .options {
    list-style: none;
    padding: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .option {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
  }
  
  .option:hover {
    background-color: #e0e0e0;
  }
  
  .selected {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
  }

