.status-bar {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 20%;
  }
  
  .status-item {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .status-count {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
  }
  
  .status-label {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }
  
  .status-item:not(:last-child) {
    margin-right: 20px;
  }
  
  .status-item:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
  }
  
  .status-item:active {
    transform: scale(1);
  }
  